{% extends "base.html" %}
{% block content %}
<section id="content">
<div class="grid">
    <div class="grid-10">&nbsp;</div>
    <div class="grid-11">
		<h1>AGENDA</h1>
		<p>Bienvenue sur cette page où vous trouverez l'ensemble des
		évènements que le HAUM organise ou auxquels il participe.</p>
		<p>Pour en savoir davantage sur l'un de ces
		évènements, ou nous convier à l'un des vôtres, n'hésitez pas à
		nous en faire part sur notre <a
			href="mailto:haum_hackerspace@lists.matael.org">mailing-list</a>.<p>
		<p>Enfin, pour ne manquer aucune date, vous pouvez <a href="{{ SITEURL }}/calendar/calendar.ics">télécharger le fichier Ical</a> et
		l'importer dans votre agenda personnel ou associatif. De cette manière, vous serez
		informé(e) automatiquement des nouveaux évènements.</p>
		<h3>Évènements à venir :</h3>
        <div id=calendar></div><div class=clearer>&nbsp;</div>
        <script type="text/javascript" src="{{ SITEURL }}/calendar/calendar.js"></script>
        <script type="text/javascript">
            $.each(future_events, function(i,e){
                $('#calendar').append('<div class=event><div class=dateheure><p class=date><span>'+e.date[0]+'</span> '+e.date[1]+' '+e.date[2]+'</p><p class=heure>'+
e.date[3]+':'+e.date[4]+'</p></div><p class=lieu>[ '+e.lieu+' ]</p><p class=descr>'+e.texte+'</p></div>');
            });
            $('div.event:odd').css("background-color", '#eeeeee');
        </script>
        </script>
        </div>
    </div>
    <div class="grid-13"></div>
</div>
</section><!-- /#content -->
{% endblock content %}
