{% extends "base.html" %}
{% block content %}
<section id="content">
<div class="grid">
<div class="grid-23">
<h2>AGENDA</h2>
<div id=calendar></div><div class=clearer>&nbsp;</div>
<script type="text/javascript" src="{{ SITEURL }}/calendar/calendar.js"></script>
<script type="text/javascript">
$.each(events, function(i,e){
$('#calendar').append(
'<li class=event style='list-style-type:none'><div class=dateheure><p class=date><span>'+e.date[0]+'</span> '+e.date[1]+' '+e.date[2]+'</p><p class=heure>'+
e.date[3]+':'+e.date[4]+'</p></div><p class=lieu>'+e.lieu+'</p><p class=descr>'+e.texte+'</p></li>'
);
});
$('li.event:odd').css("background-color", '#eeeeee');
</script>
<h3>Fil twitter</h3>
<a class="twitter-timeline" href="https://twitter.com/haum72" data-widget-id="454141251034427392" data-chrome="nofooter">Suivre @haum72 sur Twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</section><!-- /#content -->
{% endblock content %}
