{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
	<article>
		<div class="article-header">
			<div class="aligncenter">
				<h1>{{ article.title }}</h1>
				<br />

				<abbr class="published" title="{{ article.date.isoformat() }}">
					Écrit le {{ article.locale_date }}
				</abbr>
				{% if article.modified %}
				<abbr class="modified" title="{{ article.modified.isoformat() }}">
					Modifié le {{ article.locale_modified }}
				</abbr>
				{% endif %}
				par
				{% for author in article.authors %}
				{% if loop.first %}{% elif loop.last %} &{% else %}, {% endif %}
				{{ author }}
				{% endfor %}
			</div>
		</div>
		<div class="entry-content">
			{{ article.content }}
		</div><!-- /.entry-content -->
	</article>
</section>
{% endblock %}
