<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
		{% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0" />
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
		{% endif %}
		{% if FEED_ALL_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
		{% endif %}
		{% if FEED_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}
		{% if FEED_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
		{% endif %}
		{% if CATEGORY_FEED_ATOM and category %}
		<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
		{% endif %}
		{% if CATEGORY_FEED_RSS and category %}
		<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
		{% endif %}
		{% if TAG_FEED_ATOM and tag %}
		<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
		{% endif %}
		{% if TAG_FEED_RSS and tag %}
		<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
		{% endif %}
		<link type="text/css" href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet"/>
		<link type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet"/>
		<link type="image/x-icon" href="{{ SITEURL }}/theme/images/favicon.ico" rel="icon" />
		<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery-2.1.1.min.js"></script>
		{% endblock head %}
</head>

	<body id="index" class="home">
		<header>
			<p id="spaceapi_open" style="float: right; margin-top: 10px"><img src="/theme/images/badge_close.png" /></p>
			<script type="text/javascript">
				$(document).ready(function() {
				$.get("/spacestatus", function(data) {
					if (data==1)
						$("#spaceapi_open").html('<img src="/theme/images/badge_open.png" >');
				});
				});
			</script>
			<h1><a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/theme/images/head.png" alt="Hackerspace AU Mans" /></a></h1>
<script type="text/javascript">
randomsubtitle = [
	"Convergence de bidouilleurs en centre ville",
	"Rassemblement de bidouilleurs, de bricodeurs et de bricoleurs",
	"Hackers vaillants, rien d'impossible",
	"Toujours hacker un peu plus loin",
	"Modifier pour faire sien",

];
document.write("<p>" + randomsubtitle[Math.floor((Math.random() * randomsubtitle.length))] + "</p>");
</script>
		</header>
		<nav id="menu">
			<ul>
				<li><a href="{{ SITEURL }}/pages/cest-quoi-le-haum.html">C'est quoi le HAUM ?</a></li>
				<li><a href="{{ SITEURL }}/pages/agenda.html">Agenda</a></li>
				<li><a href="{{ SITEURL }}/pages/talks.html">HAUMTalks</a></li>
				<li><a href="{{ SITEURL }}/pages/les-projets.html">Les projets</a></li>
				<li><a href="{{ SITEURL }}/pages/nous-rejoindre.html">Nous rejoindre</a></li>
				<li><a href="{{ SITEURL }}/pages/hackerland.html">Hackerland</a></li>
			</ul>
		</nav>
		<a href="{{ SITEURL }}/pages/comment-modifier-le-contenu-du-site-web.html" style="position: absolute; top: 0; left: 0;">
			<img src="{{ SITEURL }}/theme/images/contribute.png" alt="Contribuez !" />
		</a>
		<div id="page_content">
			{% block content %} {% endblock %}
		</div>
		<footer id="about">
			<div class="contacticon"><a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#104;&#097;&#117;&#109;&#046;&#111;&#114;&#103;"><img src="{{ SITEURL }}/theme/images/ico-mail.png" alt="Contact mail" title="Contact mail" /><br/>&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#104;&#097;&#117;&#109;&#046;&#111;&#114;&#103;<br/><b>Courriel</b></a></div>
			<div class="contacticon"><a href="http://irc.lc/freenode/haum"><img src="{{ SITEURL }}/theme/images/ico-irc.png" alt="Salon IRC" title="Salon IRC" /><br/>#haum<br/><b>Salon de discussion</b></a></div>
			<div class="contacticon"><a href="http://twitter.com/haum72"><img src="{{ SITEURL }}/theme/images/ico-tw.png" alt="Compte twitter" title="Compte twitter" /><br/>@haum72<br/><b>Microblog sur Twitter</b></a></div>
			<div class="contacticon"><a href="https://github.com/haum"><img src="{{ SITEURL }}/theme/images/ico-gh.png" alt="Projets github" title="Projets github" /><br/>haum<br/><b>Code sur Github</b></a></div>
			<div class="contacticon"><a href="https://www.flickr.com/photos/126718549@N08/albums/"><img src="{{ SITEURL }}/theme/images/ico-fl.png" alt="Albums flickr" title="Albums flickr" /><br/>haumasso<br/><b>Photos sur Flickr</b></a></div>
			<div class="contacticon"><a href="http://lists.haum.org/mailman/listinfo/haum_hackerspace"><img src="{{ SITEURL }}/theme/images/ico-ml.png" alt="Liste de diffusion" title="Liste de diffusion" /><br/>haum_hackerspace<br/><b>Liste de diffusion</b></a></div>
			<table style="border: none; margin: 10px auto; text-align: left; clear:both">
				<tr>
					<td><p><a href="{{ SITEURL }}/pages/nous-rejoindre.html"><img src="{{ SITEURL }}/theme/images/miniplan.png" alt="plan" title="" /></a></p></td>
					<td style="padding-left: 10px; vertical-align: middle;">
						<p><a href="{{ SITEURL }}/pages/nous-rejoindre.html">
							Association HAUM<br/>
							3ème étage<br/>
							19 boulevard Marie et Alexandre Oyon<br/>
							72100 Le Mans
						</a></p>
						<p>HAUM, 2014-2017 -  Created using <a href="http://getpelican.com/">Pelican</a>. (Sources on <a href="http://github.com/haum/website" target="_blank">Github</a>)</p>
					</td>
				</tr>
			</table>
		</footer>

	</body>
</html>
