{% extends "base.html" %}
{% block head_add %}
		<link type="text/css" href="{{ SITEURL }}/theme/css/mastodon-timeline.min.css" rel="stylesheet"/>
		<script type="text/javascript" src="{{ SITEURL }}/theme/js/mastodon-timeline.min.js"></script>
{% endblock head_add %}
		
{% block content %}
<div class="grid" style="clear: both">
	<div class="grid-12">
		<article>
			<h2>Bienvenue</h2>
			<p>
			Le &laquo; Hackerspace Au Mans &raquo; (HAUM) est une association sarthoise adepte de la philosophie du "Faites-le vous-même" ("<a href="http://fr.wikipedia.org/wiki/Do_it_yourself" target="_blank">Do-It-Yourself</a>" en anglais). Ouverte à tou(te)s, si l'envie vous démange de comprendre comment fonctionnent les objets du quotidien qui vous entourent, que votre esprit fourmille d'idées et comme vous <strike>aimez</strike> adorez bricoler, alors vous êtes comme nous ! Bienvenue !
			</p>
		</article>
		<article>
			<h2>À découvrir</h2>
			<p><img src="/images/forum.png" style="vertical-align: middle" /> Le <a href="https://forum.haum.org/">forum de discussion</a> pour échanger hors des séances.</p>
			<p><img src="/images/irc.png" style="vertical-align: middle" /> Le <a href="https://web.libera.chat/?nick=bidouilleur?#haum">salon IRC</a> pour échanger en direct avec les membres lorsqu'ils sont connectés.</p>
			<p><img src="/images/photos.png" style="vertical-align: middle" /> Les <a href="https://photos.haum.org/">albums photo</a> pour retrouver quelques activités du HAUM en images</p>
		</article>
		<article>
			<h2>Zoom sur un projet <small>(aléatoire)</small></h2>
			<script type="text/javascript" src="/images/bannieres_projets/projectalea.js"></script>
			<p><a href="/pages/les-projets.html">Voir tous les projets</a></p>
		</article>
		<article>
		<div id="rss-link">
			<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Full Atom Feed">
				<img src="{{ SITEURL }}/theme/images/ico-rss_orange.png"/>
			</a>
		</div>
		<h2>Articles</h2>
		<ul class="post-list">
			{% for article in articles_page.object_list %}
			<li>
				<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.summary|striptags }}">
					{{ article.title }}</a>
				  <span class=author>{% for author in article.authors %}{% if loop.first %}{% elif loop.last %} &amp; {% else %}, {% endif %}{{ author }}{% endfor %}</span>
				<!-- {{ article.locale_date }} -->
				<p class=sep>&nbsp;<p>
			</li>
			{% endfor %}
		</ul>
		{% include 'pagination.html' %}
		</article>
	</div>
	<div class="grid-12">
		<article>
			<h2>Nous découvrir et/ou nous rejoindre</h2>
			<p>
			La meilleure façon de nous découvrir est de venir discuter avec nous lors des ouvertures du local ou aux évènements auxquels nous participons. L’agenda sur cette page rappelle les rendez-vous. Lors des séances hebdomadaires, il y a de grandes chances de trouver un membre qui passera par l’entrée du boulevard Demorieux entre 21h et 22h, et il est possible de sonner pour que nous ouvrions la porte (voir affichette sur la façade). Vous êtes les bienvenus, pour découvrir nos activités et notre fonctionnement, partager ce que vous savez, trouver des conseils pour vos projets, ou peut-être même apprendre auprès des autres membres !
			</p>
		</article>
		<article>
			<div class="calendar">
				<h2><a href="/pages/agenda.html">Prochains évènements</a></h2>
			</div>
			<div id=calendar></div><div class=clearer>&nbsp;</div>
			<div id="agenda-options">
				<p><a href="pages/agenda.html">Tous les évènements</a></li>
				<p><a href="calendar/calendar.ics">Importer l'agenda</a></li>
			</div>
		</article>
		<article>
			<h2>Microblogging</h2>
			<div style="overflow: auto; max-height: 80vh;">
				<div class="mt-timeline">
					<div id="mt-body" class="mt-body" role="feed">
						<div class="loading-spinner"></div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<h2>Appel à contributeurs</h2>
			<p>Oui, le HAUM vit encore et réalise toujours des projets, mais il y a peu d'énergie pour communiquer sur nos activités.</p>
			<p>Si tu as l'âme d'un poète, as envie d'exprimer des talents de vidéaste, rêves d'enregistrer des podcasts ou as d'autres idées pour mettre en valeur les projets de l'association, n'hésite pas à nous en parler !</p>
		</article>
	</div>
</div>
<article>
	<h2>Autre part sur le Net</h2>
	<p>Le HAUM dispose de plusieurs outils connectés, dont voici quelques exemples (dans l'ordre des liens dans le pied de page)</p>
	<ul>
		<li>Courriel : Pour être facilement joignable, nous disposons d'une adresse de contact</li>
		<li>IRC : Le salon de discussion IRC permet de discuter par texte entre les personnes connectées (pas d'inscription nécessaire)</li>
		<li>Twitter : L'actualité du HAUM est relayée sur le réseau Twitter. Visitez la page publique ou abonnez-vous pour suivre notre actualité</li>
		<li>Github : C'est sur le service Github que nous rendons public nos sources en tout genre</li>
		<li>Photos : Envie de revoir les activités du HAUM en images ? Notre répertoire photo est là pour ça</li>
		<li>Forum : Point central de nos échanges (hors rencontres), le forum permet aux membres de rester en contact</li>
	</ul>
</article>
<script type="text/javascript" src="{{ SITEURL }}/calendar/calendar.js"></script>
<script type="text/javascript">
	var i = 0; // Current future_events considered
	var printed = 0; // Nb of events printed
	while (i < future_events.length && printed < 4) {
		var e = future_events[i];
		var d = new Date(e.isodate);
		var weekday = new Array(7);
		weekday[0] = "dim.";
		weekday[1] = "lun.";
		weekday[2] = "mar.";
		weekday[3] = "mer.";
		weekday[4] = "jeu.";
		weekday[5] = "ven.";
		weekday[6] = "sam.";

		today = new Date();
		today.setHours(4);
		today.setMinutes(0);
		if (d > today) {
			$('#calendar').append(
				'<div class="event">' +
				'  <time datetime="' + e.isodate + '" class="dateheure">' +
				'    <em>' + weekday[d.getDay()] + '</em>' +
				'    <span>' + e.date[0] + '</span>' +
				'    <strong>' + e.date[1] + ' ' + e.date[2] + '</strong>' +
				'    <time>' + e.date[3] + ':' + e.date[4] + '</time>' +
				'  </time>' +
				'  <p class="lieu">' + e.lieu + '</p>' +
				'  <p class="descr">' + e.texte + '</p>' +
				'</div>'
			);
			printed++;
		}
		i++;
	}
	$('div.event:odd').css("background-color", '#eeeeee');
</script>
{% endblock content %}
