.code pre { background-color: #272822; }
.code .hll { background-color: #272822; }
.code .c { color: #75715e }
.code .err { color: #960050; background-color: #1e0010 }
.code .k { color: #66d9ef }
.code .l { color: #ae81ff }
.code .n { color: #f8f8f2 }
.code .o { color: #f92672 }
.code .p { color: #f8f8f2 }
.code .cm { color: #75715e }
.code .cp { color: #75715e }
.code .c1 { color: #75715e }
.code .cs { color: #75715e }
.code .ge { font-style: italic }
.code .gs { font-weight: bold }
.code .kc { color: #66d9ef }
.code .kd { color: #66d9ef }
.code .kn { color: #f92672 }
.code .kp { color: #66d9ef }
.code .kr { color: #66d9ef }
.code .kt { color: #66d9ef }
.code .ld { color: #e6db74 }
.code .m { color: #ae81ff }
.code .s { color: #e6db74 }
.code .na { color: #a6e22e }
.code .nb { color: #f8f8f2 }
.code .nc { color: #a6e22e }
.code .no { color: #66d9ef }
.code .nd { color: #a6e22e }
.code .ni { color: #f8f8f2 }
.code .ne { color: #a6e22e }
.code .nf { color: #a6e22e }
.code .nl { color: #f8f8f2 }
.code .nn { color: #f8f8f2 }
.code .nx { color: #a6e22e }
.code .py { color: #f8f8f2 }
.code .nt { color: #f92672 }
.code .nv { color: #f8f8f2 }
.code .ow { color: #f92672 }
.code .w { color: #f8f8f2 }
.code .mf { color: #ae81ff }
.code .mh { color: #ae81ff }
.code .mi { color: #ae81ff }
.code .mo { color: #ae81ff }
.code .sb { color: #e6db74 }
.code .sc { color: #e6db74 }
.code .sd { color: #e6db74 }
.code .s2 { color: #e6db74 }
.code .se { color: #ae81ff }
.code .sh { color: #e6db74 }
.code .si { color: #e6db74 }
.code .sx { color: #e6db74 }
.code .sr { color: #e6db74 }
.code .s1 { color: #e6db74 }
.code .ss { color: #e6db74 }
.code .bp { color: #f8f8f2 }
.code .vc { color: #f8f8f2 }
.code .vg { color: #f8f8f2 }
.code .vi { color: #f8f8f2 }
.code .il { color: #ae81ff }
.code .gu { color: #75715e; }
.code .gd { color: #f92672; }
.code .gi { color: #a6e22e; }
